<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GenAware</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />        
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <script
            src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <h1 class="text-monospace text-center"><span class="badge badge-primary">GenAware</span></h1>
            <h4 class="text-monospace text-center">
                <span style="color: red;">C</span><span style="color: orange;">o</span><span style="color: blue;">l</span><span style="color: green;">o</span><span style="color: purple;">r</span> your text to learn your gender equality awareness.
            </h4>
            <div id="main">
                <!-- Source: https://codepen.io/aaronvanston/pen/dpRkXO -->
                <div id="drap-drop" class="form-group inputDnD">
                    <label class="sr-only" for="inputFile">File Upload</label>
                    <input type="file" class="form-control-file text-primary font-weight-bold" id="inputFile" accept=".txt" onchange="readUrl(this)" data-title="Drop a text file!">
                </div>
                <div id="analysis"></div>
            </div>
        </div>
    </body>
</html>
